body{
    background-color: #233859;
}

.top{
    position: relative;
    padding: 5px;
    margin-bottom: 0.5%;
    border: 0px;
    height: 10%;
    background-color: transparent;
}

.menu{
    height: 2em;
    width: 8em;
    background-color: transparent;
    text-align: center;
    vertical-align: central;
    font-size: 1.5em;
}

#bottom {
    position: relative;
    padding: 5px;
    margin-top: 0.5%;
    display:block; 
    text-align:center;
    font-size: 1.3em;
    color: #3172d8;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

#top a:link, #top a:visited {
    color: #00245e;
    font-weight : bold;
    text-decoration: none;
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}

#top a:link:hover, #top a:visited:hover  {
    color: white;
    font-weight : bold;
    text-decoration : underline;
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}

.igrabutton{
    font-size: 1.5em;
    text-align: center;
    padding: 1em;
}

.belo{
    background-color: white !important;
}

.zeleno{
    background-color: greenyellow !important;
}

.zuto{
    background-color: yellow !important;
}

.greska{
    background-color: red !important;
}

.asocijacijeTabela .ui-widget-content{
    background-color: greenyellow !important;
}
