<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>
        <ui:composition template="./mojTemplate.xhtml">
            <ui:define name="content">
                <p:tabView>
                    <p:tab title="Potvrde registracija">
                        <h:form>
                            <p:poll interval="1" update="tabela"></p:poll>
                            <f:event type="preRenderView" listener="#{mainKontroler.checkAlreadyLoggedinAdmin}" />
                            <div style="text-align: center">
                                <p:dataTable id="tabela" var="korisnik" value="#{adminKontroler.korisnici}" emptyMessage="Svi korisnici su dodati!">
                                    <p:column headerText="Ime">
                                        <p:outputLabel value="#{korisnik.ime}"></p:outputLabel>
                                    </p:column>
                                    <p:column headerText="Prezime">
                                        <p:outputLabel value="#{korisnik.prezime}"></p:outputLabel>
                                    </p:column>
                                    <p:column headerText="Korisničko ime">
                                        <p:outputLabel value="#{korisnik.korisnickoIme}"></p:outputLabel>
                                    </p:column>
                                    <p:column headerText="Pol">
                                        <p:outputLabel value="#{korisnik.pol}"></p:outputLabel>
                                    </p:column>
                                    <p:column headerText="Zanimanje">
                                        <p:outputLabel value="#{korisnik.zanimanje}"></p:outputLabel>
                                    </p:column>
                                    <p:column headerText="Email">
                                        <p:outputLabel value="#{korisnik.email}"></p:outputLabel>
                                    </p:column>
                                    <p:column headerText="Datum">
                                        <p:outputLabel value="#{korisnik.datum}"></p:outputLabel>
                                    </p:column>
                                    <p:column headerText="Slika">
                                        <p:graphicImage value="#{adminKontroler.slika}" width="50%">
                                            <f:param name="ID" value="#{korisnik.id}"></f:param>
                                        </p:graphicImage>
                                    </p:column>
                                    <p:column headerText="potvrdi">
                                        <p:commandButton value="odbij" update="tabela" action="#{adminKontroler.odbij(korisnik)}"></p:commandButton>
                                        <p:commandButton value="potvrdi" update="tabela" action="#{adminKontroler.potvrdi(korisnik)}"></p:commandButton>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </h:form>
                    </p:tab>
                    <p:tab title="Igra dana">
                        <h:form>
                            <h:panelGrid id="bla" columns="3" cellpadding="10" style="margin: 0 auto">
                                <p:outputLabel value="Datum:"></p:outputLabel>
                                <p:calendar label="datum" id="datum" value="#{adminKontroler.datum}" required="true">
                                    <p:clientValidator event="change"/>
                                </p:calendar>
                                <p:message for="datum"/>
                                <p:outputLabel value="Slagalica: "></p:outputLabel>
                                <p:inputText value="#{adminKontroler.slagalica}" label="slagalica" required="true" id="slagalica">
                                    <f:validateRegex pattern="^[0-9]{1,10}$"></f:validateRegex>
                                    <p:clientValidator event="change"/>
                                </p:inputText>
                                <p:message for="slagalica"></p:message>
                                <p:outputLabel value="Moj broj "></p:outputLabel>
                                <p:inputText value="#{adminKontroler.mojBroj}" label="mojBroj" required="true" id="mojBroj">
                                    <f:validateRegex pattern="^[0-9]{1,10}$"></f:validateRegex>
                                    <p:clientValidator event="change"/>
                                </p:inputText>
                                <p:message for="mojBroj"></p:message>
                                <p:outputLabel value="Skočko "></p:outputLabel>
                                <p:inputText value="#{adminKontroler.skocko}" label="skocko" required="true" id="skocko">
                                    <f:validateRegex pattern="^[0-9]{1,10}$"></f:validateRegex>
                                    <p:clientValidator event="change"/>
                                </p:inputText>
                                <p:message for="skocko"></p:message>
                                <p:outputLabel value="Spojnice:"></p:outputLabel>
                                <p:selectOneMenu id="spojnice" label="spojnice" required="true" value="#{adminKontroler.spojnice}">
                                    <f:selectItems value="#{adminKontroler.listaSpojnica}" var="spoj" itemValue="#{spoj}" itemLabel="#{spoj}"></f:selectItems>
                                    <p:clientValidator event="change"/>
                                </p:selectOneMenu>
                                <p:message for="spojnice"/>
                                <p:outputLabel value="Asocijacije"></p:outputLabel>
                                <p:selectOneMenu id="asocijacije" label="asocijacije" required="true" value="#{adminKontroler.asocijacije}">
                                    <f:selectItems value="#{adminKontroler.listaAsocijacija}" var="asoc" itemValue="#{asoc}" itemLabel="#{asoc}"></f:selectItems>
                                    <p:clientValidator event="change"/>
                                </p:selectOneMenu>
                                <p:message for="spojnice"/>
                                <p:commandButton value="Dodaj" action="#{adminKontroler.dodajIgruDana()}" validateClient="true" update="poruka"></p:commandButton>
                            </h:panelGrid>
                            <div style="text-align: center; display: block">
                                <p:outputLabel value="#{adminKontroler.poruka}" id="poruka" style="color: red; font-size: 1.5em;"></p:outputLabel>
                            </div>
                        </h:form>
                    </p:tab>
                </p:tabView>
            </ui:define>
        </ui:composition>
    </body>
</html>