<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>
        <ui:composition template="./mojTemplate.xhtml">
            <ui:define name="content">
                <h:form>
                    <f:event type="preRenderView" listener="#{mainKontroler.checkAlreadyLoggedinGame}" />
                    <p:tabView>
                        <p:tab title="Igra u dvoje">
                            <div style="text-align: center">
                                <p:outputLabel value="#{gameKontroler.poruka1}" style="color: red; font-size: 1.5em;">
                                    <p:autoUpdate/>
                                </p:outputLabel>
                            </div>
                            <div style="text-align: center;display: block;">
                                <p:commandButton class="igrabutton" value="Kreiraj novu partiju" action="#{gameKontroler.udjiUCekanje()}" style="font-size: 1.3em;"></p:commandButton>
                                <p:commandButton class="igrabutton" value="Priključi se postojećoj igri" action="#{gameKontroler.prikljuciSe()}" style="font-size: 1.3em;"></p:commandButton>
                            </div>
                        </p:tab>
                        <p:tab title="Igra dana">
                            <div style="text-align: center">
                                <p:outputLabel value="#{gameKontroler.poruka2}" style="color: red; font-size: 1.5em;">
                                    <p:autoUpdate/>
                                </p:outputLabel>
                            </div>
                            <p:panel style="margin:1em auto; text-align: center; border-color: transparent">
                                <p:commandButton class="igrabutton" value="Započni igru dana" action="#{gameKontroler.igraDana()}" style="font-size: 1.3em;"></p:commandButton>
                            </p:panel>
                        </p:tab>
                        <p:tab title="Top lista dana">
                            <p:dataTable var="korisnik" value="#{gameKontroler.listaDana}" emptyMessage="Nema podatakao odigranim igrama danas!">
                                <p:column style="width:16px">
                                    <p:rowToggler />
                                </p:column>
                                <p:column headerText="Redni broj">
                                    <p:outputLabel value="#{korisnik.redniBr}"></p:outputLabel>
                                </p:column>
                                <p:column headerText="Korisničko ime">
                                    <p:outputLabel value="#{korisnik.korIme}"></p:outputLabel>
                                </p:column>
                                <p:column headerText="Poeni">
                                    <p:outputLabel value="#{korisnik.poeni}"></p:outputLabel>
                                </p:column>
                                <p:rowExpansion>
                                    <p:panelGrid  columns="2" columnClasses="label,value" style="width:300px; margin:1em auto; text-align: center;">
                                        <f:facet name="header">
                                            <p:graphicImage value="#{adminKontroler.slika}" width="50%">
                                                <f:param name="ID" value="#{korisnik.id}"></f:param>
                                            </p:graphicImage>
                                        </f:facet>
                                        <h:outputText value="Ime" />
                                        <h:outputText value="#{korisnik.korisnik.ime}" />
                                        <h:outputText value="Prezime" />
                                        <h:outputText value="#{korisnik.korisnik.prezime}" />
                                        <h:outputText value="Pol" />
                                        <h:outputText value="#{korisnik.korisnik.pol}" />
                                        <h:outputText value="Zanimanje" />
                                        <h:outputText value="#{korisnik.korisnik.zanimanje}" />
                                        <h:outputText value="Datum rođenja" />
                                        <h:outputText value="#{korisnik.korisnik.datum}" />
                                        <h:outputText value="Email" />
                                        <h:outputText value="#{korisnik.korisnik.email}" />
                                    </p:panelGrid>
                                </p:rowExpansion>
                            </p:dataTable>
                        </p:tab>
                        <p:tab title="Moje partije">
                            <p:dataGrid var="partija" value="#{gameKontroler.mojePartije}" columns="2" layout="grid"
                                        rows="6" paginator="true" id="cars"
                                        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                        rowsPerPageTemplate="6,12,16" emptyMessage="Nema podataka o vašim igrama!">

                                <f:facet name="header">
                                    Moje partije
                                </f:facet>

                                <p:panel header="#{partija.idPartije}" style="text-align:center">
                                    <p:panelGrid columns="1" style="width:100%">
                                        <p:outputLabel value="Datum: #{partija.datum}"></p:outputLabel>
                                        <p:outputLabel value="Protivnik: #{partija.imeProtivnika}"></p:outputLabel>
                                        <p:outputLabel value="Poeni protivnika: #{partija.poeniProtivnika}"></p:outputLabel>
                                        <p:outputLabel value="Moji poeni: #{partija.poeniMoji}"></p:outputLabel>
                                        <p:outputLabel value="#{partija.poeniMoji>partija.poeniProtivnika ? 'Moja pobeda' : (partija.poeniMoji lt partija.poeniProtivnika ? 'Protivnik je pobedio': 'Nerešeno')}" />
                                        <p:chart type="bar" model="#{partija.barModel}" style="height:200px"/>
                                    </p:panelGrid>
                                </p:panel>

                            </p:dataGrid>
                        </p:tab>
                    </p:tabView>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
