<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>
        <ui:composition template="./mojTemplate.xhtml">
            <ui:define name="content">
                <h:form>
                    <f:event type="preRenderView" listener="#{mainKontroler.checkAlreadyLoggedinGame}" />
                    <p:poll interval="1" listener="#{igradanaSpojnicaKontroler.promenaVremena()}" autoStart="true" update="vreme, spojniceTabela, poen2, next" immediate="true" process="@this"></p:poll>
                    <div style="text-align: center;display: block; float: none">
                        <p:outputLabel value="-Spojnice-" style="font-size: 2em;"></p:outputLabel>
                        <br/>
                        <p:outputLabel value="preostalo vreme: #{igradanaSpojnicaKontroler.vreme}" style="font-size: 1.5em;" id="vreme" class="slovaSlagalica"></p:outputLabel>
                    </div>
                    <p:separator />
                    <div style="text-align: center;display: block; float: none">
                        <p:dataTable var="spoj" value="#{igradanaSpojnicaKontroler.listaZaIspis}" id="spojniceTabela">
                            <p:column styleClass="#{(spoj.prviTacno eq 1) ? 'zeleno' : ((spoj.prviTacno eq 2) ? 'greska' : (spoj.trenutnaLokacija ? 'zuto' : null))}">
                                <p:outputLabel value="#{spoj.igra.pojam1}" style="font-size: 1.5em;"></p:outputLabel>
                            </p:column>
                            <p:column style="font-size: 1.5em;" styleClass="#{spoj.tacno ? 'zeleno' : null}">
                                <p:commandButton value="#{spoj.igra.pojam2}" action="#{igradanaSpojnicaKontroler.test(spoj.igra.pojam2)}" disabled="#{spoj.tacno or igradanaSpojnicaKontroler.gotovo}" update="spojniceTabela"></p:commandButton>
                            </p:column>
                        </p:dataTable>
                    </div>
                    <p:separator />
                    <div style="text-align: center;display: block; clear: both">
                        <p:outputLabel id="poen2" value="Poeni: #{igradanaSpojnicaKontroler.poen}" class="slovaSlagalica" style="font-size: 1.5em;"/>
                        <br/>
                        <p:commandButton value="Sledeća igra" action="#{igradanaSpojnicaKontroler.dalje()}" rendered="#{igradanaSpojnicaKontroler.gotovo}" style="font-size: 1.5em;" id="next"></p:commandButton>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
