<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>
        <ui:composition template="./mojTemplate.xhtml">
            <ui:define name="content">
                <h:form>
                    <f:event type="preRenderView" listener="#{mainKontroler.checkAlreadyLoggedinGame}" />
                    <p:poll interval="1" listener="#{igradanaMojBrojKontroler.promenaVremena()}" autoStart="true" update="vreme,broj0, broj1, broj2, broj3, rez, next,
                            dvoc, troc, button1, button2, poen" immediate="true" process="@this"></p:poll>
                    <div style="text-align: center;display: block; float: none">
                        <p:outputLabel value="-Moj broj-" style="font-size: 2em;"></p:outputLabel>
                        <br/>
                        <p:outputLabel value="preostalo vreme: #{igradanaMojBrojKontroler.vreme}" id="vreme" class="slovaSlagalica" style="font-size: 1.5em"></p:outputLabel>
                    </div>
                    <p:separator />
                    <div style="text-align: center;display: block; clear: both; font-size: 2em;">
                        <p:panel style="height: 3.5em; background-color: transparent;  border-color: transparent">
                            <p:panel style="width: 18.5%; float: left; background-color: transparent; border-color: transparent">
                                <p:outputLabel value=""/>
                            </p:panel>
                            <p:panel style="width: 60%; float: left;">
                                <p:outputLabel id="rez" value="#{igradanaMojBrojKontroler.rezultat}"/>
                            </p:panel>
                        </p:panel>
                        <p:panel style="height: 3.5em;background-color: transparent;  border-color: transparent">
                            <p:panel style="width: 18%; float: left; background-color: transparent; border-color: transparent">
                                <p:outputLabel value=""/>
                            </p:panel>
                            <p:panel style="width: 30%; float: left">
                                <p:outputLabel id="dvoc" value="#{igradanaMojBrojKontroler.dvocifren}"/>
                            </p:panel>
                            <p:panel style="width: 30%; float: left">
                                <p:outputLabel id="troc" value="#{igradanaMojBrojKontroler.trocifren}"/>
                            </p:panel>
                        </p:panel>
                        <p:panel style="height: 3.5em; background-color: transparent;  border-color: transparent">
                            <p:panel style="width: 17%; float: left; background-color: transparent; border-color: transparent">
                                <p:outputLabel value=""/>
                            </p:panel>
                            <p:panel style="width: 15%; float: left;">
                                <p:outputLabel id="broj0" value="#{igradanaMojBrojKontroler.broj0}"/>
                            </p:panel>
                            <p:panel style="width: 15%; float: left">
                                <p:outputLabel id="broj1" value="#{igradanaMojBrojKontroler.broj1}"/>
                            </p:panel>
                            <p:panel style="width: 15%; float: left">
                                <p:outputLabel id="broj2" value="#{igradanaMojBrojKontroler.broj2}"/>
                            </p:panel>
                            <p:panel style="width: 15%; float: left">
                                <p:outputLabel id="broj3" value="#{igradanaMojBrojKontroler.broj3}"/>
                            </p:panel>
                        </p:panel>
                    </div>
                    <div style="text-align: center;display: block; clear: both">
                        <p:inputText id="izraz" value="#{igradanaMojBrojKontroler.izraz}" style="width: 50%; font-size: 2em" disabled="#{(not igradanaMojBrojKontroler.uslov) or igradanaMojBrojKontroler.gotovo}"></p:inputText>
                        <p:inputText id="izraz2" value="#{igradanaMojBrojKontroler.izraz2}" style="width: 10%; font-size: 2em" disabled="#{(not igradanaMojBrojKontroler.uslov) or igradanaMojBrojKontroler.gotovo}">
                            <f:validateRegex pattern="^[0-9]{0,4}$"></f:validateRegex>
                            <p:clientValidator event="change"/>
                        </p:inputText>
                        <br/>
                        <p:outputLabel id="poen" value="Poeni: #{igradanaMojBrojKontroler.poen}" class="slovaSlagalica" style="font-size: 1.5em"/>
                        <p:separator/>
                        <p:commandButton id="button1" value="Idući broj" action="#{igradanaMojBrojKontroler.sledeciBroj()}" disabled="#{igradanaMojBrojKontroler.uslov or igradanaMojBrojKontroler.gotovo}" update="broj0, broj1, broj2, broj3, rez,
                                         dvoc, troc, izraz, izraz2, button1, button2" style="width: 20%; font-size: 1.3em" validateClient="true"></p:commandButton>
                        <p:commandButton id="button2" value="Predaj broj" action="#{igradanaMojBrojKontroler.predajIzraz()}" disabled="#{(not igradanaMojBrojKontroler.uslov) or igradanaMojBrojKontroler.gotovo}" update="broj0, broj1, broj2, broj3, rez,
                                         dvoc, troc, izraz, izraz2, button1, button2" style="width: 20%; font-size: 1.3em" validateClient="true"></p:commandButton>
                        <br/>
                        <p:commandButton value="Sledeća igra" action="#{igradanaMojBrojKontroler.dalje()}" rendered="#{igradanaMojBrojKontroler.gotovo}" style="font-size: 1.5em;" id="next"></p:commandButton>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
