<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>
        <ui:composition template="./mojTemplate.xhtml">
            <ui:define name="content">
                <h:form>
                    <f:event type="preRenderView" listener="#{mainKontroler.checkAlreadyLoggedinGame}" />
                    <p:poll interval="1" listener="#{igradanaAsocijacije.promenaVremena()}" autoStart="true" update="vreme, A1, A2, A3, A4, 
                            B1, B2, B3, B4, C1, C2, C3, C4, D1, D2, D3, D4, predaj, poen2, next" immediate="true" process="@this"></p:poll>
                    <div style="text-align: center;display: block; float: none">
                        <p:outputLabel value="-Asocijacije-" style="font-size: 2em;"></p:outputLabel>
                        <br/>
                        <p:outputLabel value="preostalo vreme: #{igradanaAsocijacije.vreme}" id="vreme" style="font-size: 1.5em;" class="slovaSlagalica"></p:outputLabel>
                    </div>
                    <p:separator />
                    <div style="text-align: center;display: block; float: none">
                        <p:panelGrid columns="1" id="kolonaA" style="width: 50%; float: left; " styleClass="#{igradanaAsocijacije.a.gotova ? 'asocijacijeTabela' : null}">
                            <p:commandButton id="A1" value="#{igradanaAsocijacije.a.red1}" action="#{igradanaAsocijacije.otvoriPolje(igradanaAsocijacije.a.red1)}" style="font-size: 1.5em" styleClass="#{igradanaAsocijacije.a.gotova ? 'zeleno' : null}"></p:commandButton>
                            <p:commandButton id="A2" value="#{igradanaAsocijacije.a.red2}" action="#{igradanaAsocijacije.otvoriPolje(igradanaAsocijacije.a.red2)}" style="font-size: 1.5em" styleClass="#{igradanaAsocijacije.a.gotova ? 'zeleno' : null}"></p:commandButton>
                            <p:commandButton id="A3" value="#{igradanaAsocijacije.a.red3}" action="#{igradanaAsocijacije.otvoriPolje(igradanaAsocijacije.a.red3)}" style="font-size: 1.5em" styleClass="#{igradanaAsocijacije.a.gotova ? 'zeleno' : null}"></p:commandButton>
                            <p:commandButton id="A4" value="#{igradanaAsocijacije.a.red4}" action="#{igradanaAsocijacije.otvoriPolje(igradanaAsocijacije.a.red4)}" style="font-size: 1.5em" styleClass="#{igradanaAsocijacije.a.gotova ? 'zeleno' : null}"></p:commandButton>
                            <p:inputText value="#{igradanaAsocijacije.a.konacnoRes}" style="font-size: 1.5em" disabled="#{igradanaAsocijacije.a.gotova}">
                                <f:validateRegex pattern="^[a-zA-ZšđčćžŠĐČĆŽ]{0,}$"></f:validateRegex>
                                <p:clientValidator event="change"/>
                            </p:inputText>
                        </p:panelGrid>
                        <p:panelGrid columns="1" id="kolonaB" style="width: 50%; float: left;" styleClass="#{igradanaAsocijacije.b.gotova ? 'asocijacijeTabela' : null}">
                            <p:commandButton id="B1" value="#{igradanaAsocijacije.b.red1}" action="#{igradanaAsocijacije.otvoriPolje(igradanaAsocijacije.b.red1)}" style="font-size: 1.5em" styleClass="#{igradanaAsocijacije.b.gotova ? 'zeleno' : null}"></p:commandButton>
                            <p:commandButton id="B2" value="#{igradanaAsocijacije.b.red2}" action="#{igradanaAsocijacije.otvoriPolje(igradanaAsocijacije.b.red2)}" style="font-size: 1.5em" styleClass="#{igradanaAsocijacije.b.gotova ? 'zeleno' : null}"></p:commandButton>
                            <p:commandButton id="B3" value="#{igradanaAsocijacije.b.red3}" action="#{igradanaAsocijacije.otvoriPolje(igradanaAsocijacije.b.red3)}" style="font-size: 1.5em" styleClass="#{igradanaAsocijacije.b.gotova ? 'zeleno' : null}"></p:commandButton>
                            <p:commandButton id="B4" value="#{igradanaAsocijacije.b.red4}" action="#{igradanaAsocijacije.otvoriPolje(igradanaAsocijacije.b.red4)}" style="font-size: 1.5em" styleClass="#{igradanaAsocijacije.b.gotova ? 'zeleno' : null}"></p:commandButton>
                            <p:inputText value="#{igradanaAsocijacije.b.konacnoRes}" style="font-size: 1.5em" disabled="#{igradanaAsocijacije.b.gotova}">
                                <f:validateRegex pattern="^[a-zA-ZšđčćžŠĐČĆŽ]{0,}$"></f:validateRegex>
                                <p:clientValidator event="change"/>
                            </p:inputText>
                        </p:panelGrid>
                        <p:inputText value="#{igradanaAsocijacije.konacnoResenje}" style="font-size: 1.5em; width: 60%; clear: both; text-align: center" disabled="#{igradanaAsocijacije.gotovo}">
                            <f:validateRegex pattern="^[a-zA-ZšđčćžŠĐČĆŽ]{0,}$"></f:validateRegex>
                            <p:clientValidator event="change"/>
                        </p:inputText>
                        <p:panelGrid columns="1" id="kolonaC" style="width: 50%; float: left;" styleClass="#{igradanaAsocijacije.c.gotova ? 'asocijacijeTabela' : null}">
                            <p:inputText value="#{igradanaAsocijacije.c.konacnoRes}" style="font-size: 1.5em" disabled="#{igradanaAsocijacije.c.gotova}">
                                <f:validateRegex pattern="^[a-zA-ZšđčćžŠĐČĆŽ]{0,}$"></f:validateRegex>
                                <p:clientValidator event="change"/>
                            </p:inputText>                            
                            <p:commandButton id="C1" value="#{igradanaAsocijacije.c.red1}" action="#{igradanaAsocijacije.otvoriPolje(igradanaAsocijacije.c.red1)}" style="font-size: 1.5em" styleClass="#{igradanaAsocijacije.c.gotova ? 'zeleno' : null}"></p:commandButton>
                            <p:commandButton id="C2" value="#{igradanaAsocijacije.c.red2}" action="#{igradanaAsocijacije.otvoriPolje(igradanaAsocijacije.c.red2)}" style="font-size: 1.5em" styleClass="#{igradanaAsocijacije.c.gotova ? 'zeleno' : null}"></p:commandButton>
                            <p:commandButton id="C3" value="#{igradanaAsocijacije.c.red3}" action="#{igradanaAsocijacije.otvoriPolje(igradanaAsocijacije.c.red3)}" style="font-size: 1.5em" styleClass="#{igradanaAsocijacije.c.gotova ? 'zeleno' : null}"></p:commandButton>
                            <p:commandButton id="C4" value="#{igradanaAsocijacije.c.red4}" action="#{igradanaAsocijacije.otvoriPolje(igradanaAsocijacije.c.red4)}" style="font-size: 1.5em" styleClass="#{igradanaAsocijacije.c.gotova ? 'zeleno' : null}"></p:commandButton>
                        </p:panelGrid>
                        <p:panelGrid columns="1" id="kolonaD" style="width: 50%; float: left;" styleClass="#{igradanaAsocijacije.d.gotova ? 'asocijacijeTabela' : null}">
                            <p:inputText value="#{igradanaAsocijacije.d.konacnoRes}" style="font-size: 1.5em" disabled="#{igradanaAsocijacije.d.gotova}">
                                <f:validateRegex pattern="^[a-zA-ZšđčćžŠĐČĆŽ]{0,}$"></f:validateRegex>
                                <p:clientValidator event="change"/>
                            </p:inputText>
                            <p:commandButton id="D1" value="#{igradanaAsocijacije.d.red1}" action="#{igradanaAsocijacije.otvoriPolje(igradanaAsocijacije.d.red1)}" style="font-size: 1.5em" styleClass="#{igradanaAsocijacije.d.gotova ? 'zeleno' : null}"></p:commandButton>
                            <p:commandButton id="D2" value="#{igradanaAsocijacije.d.red2}" action="#{igradanaAsocijacije.otvoriPolje(igradanaAsocijacije.d.red2)}" style="font-size: 1.5em" styleClass="#{igradanaAsocijacije.d.gotova ? 'zeleno' : null}"></p:commandButton>
                            <p:commandButton id="D3" value="#{igradanaAsocijacije.d.red3}" action="#{igradanaAsocijacije.otvoriPolje(igradanaAsocijacije.d.red3)}" style="font-size: 1.5em" styleClass="#{igradanaAsocijacije.d.gotova ? 'zeleno' : null}"></p:commandButton>
                            <p:commandButton id="D4" value="#{igradanaAsocijacije.d.red4}" action="#{igradanaAsocijacije.otvoriPolje(igradanaAsocijacije.d.red4)}" style="font-size: 1.5em" styleClass="#{igradanaAsocijacije.d.gotova ? 'zeleno' : null}"></p:commandButton>
                        </p:panelGrid>
                    </div>
                    <p:separator style="clear: both;"/>
                    <div style="text-align: center;display: block; clear: both">
                        <p:commandButton value="Predaj odgovor" action="#{igradanaAsocijacije.predajOdgovor()}" style="font-size: 1.5em" disabled="#{igradanaAsocijacije.uslov or igradanaAsocijacije.gotovo}" id="predaj" update="kolonaA, kolonaB, kolonaC, kolonaD, predaj" validateClient="true"></p:commandButton>
                    </div>
                    <p:separator />
                    <div style="text-align: center;display: block; clear: both">
                        <p:outputLabel id="poen2" value="Poeni: #{igradanaAsocijacije.poen}" class="slovaSlagalica" style="font-size: 1.5em;"/>
                        <br/>
                        <p:commandButton value="Završi igru dana" action="#{igradanaAsocijacije.dalje()}" rendered="#{igradanaAsocijacije.gotovo}" style="font-size: 1.5em;" id="next"></p:commandButton>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
