<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>
        <ui:composition template="./mojTemplate.xhtml">
            <ui:define name="content">
                <h:form>
                    <f:event type="preRenderView" listener="#{mainKontroler.checkAlreadyLoggedinGame}" />
                    <p:poll interval="1" listener="#{igradanaSlagalicaKontroler.promenaVremena()}" autoStart="true" update="vreme, slagalica, button1, poen, button2, next" immediate="true" process="@this"></p:poll>
                    <div style="text-align: center;display: block; float: none">
                        <p:outputLabel value="-Slagalica-" style="font-size: 2em;"></p:outputLabel>
                        <br/>
                        <p:outputLabel value="preostalo vreme: #{igradanaSlagalicaKontroler.vreme}" id="vreme" style="font-size: 1.5em;"></p:outputLabel>
                    </div>
                    <p:separator />
                    <p:panelGrid columns="6" style="margin:1em auto; text-align: center; height: 20em; width: 70%" id="slagalica">
                        <p:outputLabel value="#{igradanaSlagalicaKontroler.slovo0}" style="font-size: 8em; text-align: center; "/>
                        <p:outputLabel value="#{igradanaSlagalicaKontroler.slovo1}" style="font-size: 8em; text-align: center; "/>
                        <p:outputLabel value="#{igradanaSlagalicaKontroler.slovo2}" style="font-size: 8em; text-align: center; "/>
                        <p:outputLabel value="#{igradanaSlagalicaKontroler.slovo3}" style="font-size: 8em; text-align: center; "/>
                        <p:outputLabel value="#{igradanaSlagalicaKontroler.slovo4}" style="font-size: 8em; text-align: center; "/>
                        <p:outputLabel value="#{igradanaSlagalicaKontroler.slovo5}" style="font-size: 8em; text-align: center; "/>
                        <p:outputLabel value="#{igradanaSlagalicaKontroler.slovo6}" style="font-size: 8em; text-align: center; "/>
                        <p:outputLabel value="#{igradanaSlagalicaKontroler.slovo7}" style="font-size: 8em; text-align: center; "/>
                        <p:outputLabel value="#{igradanaSlagalicaKontroler.slovo8}" style="font-size: 8em; text-align: center; "/>
                        <p:outputLabel value="#{igradanaSlagalicaKontroler.slovo9}" style="font-size: 8em; text-align: center; "/>
                        <p:outputLabel value="#{igradanaSlagalicaKontroler.slovo10}" style="font-size: 8em; text-align: center; "/>
                        <p:outputLabel value="#{igradanaSlagalicaKontroler.slovo11}" style="font-size: 8em; text-align: center; "/>
                    </p:panelGrid>
                    <p:separator />
                    <div style="text-align: center;display: block; clear: both">
                        <p:inputText id="rec" value="#{igradanaSlagalicaKontroler.rec}" disabled="#{(not igradanaSlagalicaKontroler.uslov) or igradanaSlagalicaKontroler.gotovo}" style="width: 50%; font-size: 2em;">
                            <f:validateRegex pattern="^[a-zA-ZšđčćžŠĐČĆŽ]{1,12}$"></f:validateRegex>
                            <p:clientValidator event="change"/>
                        </p:inputText>
                        <br/>
                        <p:outputLabel id="poen" value="Poeni: #{igradanaSlagalicaKontroler.poen}" style="font-size: 1.5em;">
                            <p:autoUpdate/>
                        </p:outputLabel>
                        <p:separator/>
                        <p:commandButton id="button1" value="Iduće slovo" action="#{igradanaSlagalicaKontroler.sledeceSlovo()}" disabled="#{igradanaSlagalicaKontroler.uslov or igradanaSlagalicaKontroler.gotovo}" update="slagalica, button1, button2, rec" style="width: 20%; font-size: 1.3em"></p:commandButton>
                        <p:commandButton id="button2" value="Predaj reč" action="#{igradanaSlagalicaKontroler.predajRec()}" disabled="#{(not igradanaSlagalicaKontroler.uslov) or igradanaSlagalicaKontroler.gotovo}" update="slagalica, button1, button2" style="width: 20%;font-size: 1.3em" validateClient="true"></p:commandButton>
                        <br/>
                        <p:commandButton value="Sledeća igra" action="#{igradanaSlagalicaKontroler.dalje()}" rendered="#{igradanaSlagalicaKontroler.gotovo}" style="font-size: 1.5em;" id="next"></p:commandButton>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
