<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <body>
        <ui:composition template="./mojTemplate.xhtml">
            <ui:define name="content">
                <h:form>
                    <div style="text-align: center;display: block;">
                        <f:event type="preRenderView" listener="#{mainKontroler.checkAlreadyLoggedinGame}" />
                        <f:event type="preRenderView" listener="#{gameKontroler.createBarChart()}" />
                        <p:barChart model="#{gameKontroler.barModel}" style="width: 100%; height: 500px;"/>
                        <br/>
                        <p:commandButton value="Završi pregled" action="#{gameKontroler.vratiSe()}"></p:commandButton>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
