<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>
        <ui:composition template="./mojTemplate.xhtml">
            <ui:define name="content">
                <h:form>
                    <f:event type="preRenderView" listener="#{mainKontroler.checkAlreadyLoggedinGame}" />
                    <p:poll interval="1" listener="#{slagalicaKontroler.promenaVremena()}" autoStart="true" update="vreme, slagalica, button1, button2, next, poen1, poen2" immediate="true" process="@this"></p:poll>
                    <p:poll interval="1" listener="#{slagalicaKontroler.proveravaj()}" autoStart="true"/>
                    <div style="text-align: center;display: block; float: none">
                        <p:outputLabel value="-Slagalica-" style="font-size: 2em;"></p:outputLabel>
                        <br/>
                        <p:outputLabel value="preostalo vreme: #{slagalicaKontroler.vreme}" id="vreme" style="font-size: 1.5em;"></p:outputLabel>
                    </div>
                    <p:separator />
                    <p:panelGrid columns="6" style="margin:1em auto; text-align: center; height: 20em; width: 70%" id="slagalica">
                        <p:outputLabel value="#{slagalicaKontroler.slovo0}" style="font-size: 8em; text-align: center; "/>
                        <p:outputLabel value="#{slagalicaKontroler.slovo1}" style="font-size: 8em; text-align: center; "/>
                        <p:outputLabel value="#{slagalicaKontroler.slovo2}" style="font-size: 8em; text-align: center; "/>
                        <p:outputLabel value="#{slagalicaKontroler.slovo3}" style="font-size: 8em; text-align: center; "/>
                        <p:outputLabel value="#{slagalicaKontroler.slovo4}" style="font-size: 8em; text-align: center; "/>
                        <p:outputLabel value="#{slagalicaKontroler.slovo5}" style="font-size: 8em; text-align: center; "/>
                        <p:outputLabel value="#{slagalicaKontroler.slovo6}" style="font-size: 8em; text-align: center; "/>
                        <p:outputLabel value="#{slagalicaKontroler.slovo7}" style="font-size: 8em; text-align: center; "/>
                        <p:outputLabel value="#{slagalicaKontroler.slovo8}" style="font-size: 8em; text-align: center; "/>
                        <p:outputLabel value="#{slagalicaKontroler.slovo9}" style="font-size: 8em; text-align: center; "/>
                        <p:outputLabel value="#{slagalicaKontroler.slovo10}" style="font-size: 8em; text-align: center; "/>
                        <p:outputLabel value="#{slagalicaKontroler.slovo11}" style="font-size: 8em; text-align: center; "/>
                    </p:panelGrid>
                    <p:separator />
                    <div style="text-align: center;display: block; clear: both">
                        <p:inputText id="rec" value="#{slagalicaKontroler.rec}" disabled="#{(not slagalicaKontroler.uslov) or slagalicaKontroler.gotovo}" style="width: 50%; font-size: 2em;">
                            <f:validateRegex pattern="^[a-zA-ZšđčćžŠĐČĆŽ]{1,12}$"></f:validateRegex>
                        </p:inputText>
                        <br/>
                        <p:outputLabel id="poen1" value="Poen 1: #{slagalicaKontroler.poeni1}" style="font-size: 1.5em;"/>
                        <br/>
                        <p:outputLabel id="poen2" value="Poen 2: #{slagalicaKontroler.poeni2}" style="font-size: 1.5em;"/>
                        <p:separator/>
                        <p:commandButton id="button1" value="Iduće slovo" action="#{slagalicaKontroler.sledeceSlovo()}" disabled="#{slagalicaKontroler.uslov or slagalicaKontroler.gotovo}" update="slagalica, button1, button2, rec" style="width: 20%; font-size: 1.3em"></p:commandButton>
                        <p:commandButton id="button2" value="Predaj reč" action="#{slagalicaKontroler.predajRec()}" disabled="#{(not slagalicaKontroler.uslov) or slagalicaKontroler.gotovo}" update="slagalica, button1, button2" style="width: 20%;font-size: 1.3em" validateClient="true"></p:commandButton>
                        <br/>
                        <p:commandButton value="Sledeća igra" action="#{slagalicaKontroler.dalje()}" rendered="#{slagalicaKontroler.gotovaIgra}" style="font-size: 1.5em;" id="next"></p:commandButton>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
