<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>
        <ui:composition template="./mojTemplate.xhtml">
            <ui:define name="content">
                <h:form>
                    <f:event type="preRenderView" listener="#{mainKontroler.checkAlreadyLoggedinGame}" />
                    <f:event type="preRenderView" listener="#{mojBrojKontroler.init}" />
                    <p:poll interval="1" listener="#{mojBrojKontroler.proveravaj()}" autoStart="true" update="broj0, broj1, 
                            broj2, broj3, rez, dvoc, troc, button, button1, poen1, poen2" immediate="true" process="@this"/>
                    <p:poll interval="1" listener="#{mojBrojKontroler.promenaVremena()}" autoStart="true" update="vreme" immediate="true" process="@this"/>
                    <div style="text-align: center;display: block; float: none">
                        <p:outputLabel value="-Moj broj-" style="font-size: 2em;"></p:outputLabel>
                        <br/>
                        <p:outputLabel value="preostalo vreme: #{mojBrojKontroler.vreme}" id="vreme" class="slovaSlagalica" style="font-size: 1.5em"></p:outputLabel>
                    </div>
                    <p:separator />
                    <div style="text-align: center;display: block; clear: both; font-size: 2em;">
                        <p:panel style="height: 3.5em; background-color: transparent;  border-color: transparent">
                            <p:panel style="width: 18.5%; float: left; background-color: transparent; border-color: transparent">
                                <p:outputLabel value=""/>
                            </p:panel>
                            <p:panel style="width: 60%; float: left;">
                                <p:outputLabel id="rez" value="#{mojBrojKontroler.rezultat}"/>
                            </p:panel>
                        </p:panel>
                        <p:panel style="height: 3.5em;background-color: transparent;  border-color: transparent">
                            <p:panel style="width: 18%; float: left; background-color: transparent; border-color: transparent">
                                <p:outputLabel value=""/>
                            </p:panel>
                            <p:panel style="width: 30%; float: left">
                                <p:outputLabel id="dvoc" value="#{mojBrojKontroler.dvocifren}"/>
                            </p:panel>
                            <p:panel style="width: 30%; float: left">
                                <p:outputLabel id="troc" value="#{mojBrojKontroler.trocifren}"/>
                            </p:panel>
                        </p:panel>
                        <p:panel style="height: 3.5em; background-color: transparent;  border-color: transparent">
                            <p:panel style="width: 17%; float: left; background-color: transparent; border-color: transparent">
                                <p:outputLabel value=""/>
                            </p:panel>
                            <p:panel style="width: 15%; float: left;">
                                <p:outputLabel id="broj0" value="#{mojBrojKontroler.broj0}"/>
                            </p:panel>
                            <p:panel style="width: 15%; float: left">
                                <p:outputLabel id="broj1" value="#{mojBrojKontroler.broj1}"/>
                            </p:panel>
                            <p:panel style="width: 15%; float: left">
                                <p:outputLabel id="broj2" value="#{mojBrojKontroler.broj2}"/>
                            </p:panel>
                            <p:panel style="width: 15%; float: left">
                                <p:outputLabel id="broj3" value="#{mojBrojKontroler.broj3}"/>
                            </p:panel>
                        </p:panel>
                    </div>
                    <p:separator />
                    <div style="text-align: center;display: block; clear: both">
                        <p:inputText id="izraz" value="#{mojBrojKontroler.izraz}" style="width: 50%; font-size: 2em" disabled="#{(not mojBrojKontroler.uslov) or mojBrojKontroler.gotovaIgra}"></p:inputText>
                        <p:inputText id="izraz2" value="#{mojBrojKontroler.izraz2}" style="width: 10%; font-size: 2em">
                            <f:validateRegex pattern="^[0-9]{0,4}$"></f:validateRegex>
                            <p:clientValidator event="change"/>
                        </p:inputText>
                        <br/>
                        <p:outputLabel id="poen1" value="Poeni 1. igraca: #{mojBrojKontroler.poeni1}" class="slovaSlagalica" style="font-size: 1.5em"/>
                        <br/>
                        <p:outputLabel id="poen2" value="Poeni 2. igraca: #{mojBrojKontroler.poeni2}" class="slovaSlagalica" style="font-size: 1.5em"/>
                        <p:separator />
                        <p:commandButton id="button1" value="Idući broj" update="broj0, broj1, broj2, broj3, rez, dvoc, troc, izraz, izraz2, button, button1, poen1, poen2" 
                                         action="#{mojBrojKontroler.sledeciBroj()}" disabled="#{mojBrojKontroler.uslov or mojBrojKontroler.gotovaIgra}" style="width: 20%; font-size: 1.3em"></p:commandButton>
                        <p:commandButton id="button" value="Predaj broj" action="#{mojBrojKontroler.predajIzraz()}" update="broj0, broj1, broj2, broj3, rez,
                                         dvoc, troc, izraz, izraz2, button, button1, poen1, poen2" disabled="#{(not mojBrojKontroler.uslov) or mojBrojKontroler.gotovaIgra}" style="width: 20%; font-size: 1.3em" validateClient="true"></p:commandButton>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
