<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="css/default.css"/>
        <h:outputStylesheet name="css/cssLayout.css"/>
        <title>PIA Slagalica</title>
    </h:head>

    <h:body>

        <div id="top" class="top">
            <h:form>
                <p:tabMenu class="top" activeIndex="#{param.i}">
                    <p:menuitem class="menu" value="Početna Strana" outcome="PocetnaStrana">
                        <f:param name="i" value="0" />
                    </p:menuitem>
                    <p:menuitem class="menu" value="Top lista" outcome="TopLista">
                        <f:param name="i" value="1" />
                    </p:menuitem>
                    <p:menuitem class="menu" value="Igra" outcome="gamePage" >
                        <f:param name="i" value="2" />
                    </p:menuitem>
                    <p:menuitem class="menu" value="Admin" outcome="adminPage" >
                        <f:param name="i" value="3" />
                    </p:menuitem>
                    <p:menuitem class="menu" value="Supervizor" outcome="supervizorPage">
                        <f:param name="i" value="4" />
                    </p:menuitem>
                </p:tabMenu>  
            </h:form>
        </div>

        <div id="content" class="center_content">
            <ui:insert name="content"></ui:insert>
        </div>

        <div id="bottom" class="bottom">
            <h:form>
                <p:commandButton value="Odjavi se" action="#{loginKontroler.logout()}"></p:commandButton>
                <p:outputLabel value="  #{mainKontroler.korisnik}" >
                    <p:autoUpdate/>
                </p:outputLabel>
            </h:form>
            <br/>
            -Napravio Bojan Marković 2016/0113-
        </div>

    </h:body>

</html>
