<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./mojTemplate.xhtml">

            <ui:define name="content">
                <p:tabView>
                    <p:tab title="Login">
                        <h:form>
                            <div style="text-align: center">
                                <p:outputLabel value="#{loginKontroler.poruka}" style="color: red; font-size: 1.5em;">
                                    <p:autoUpdate/>
                                </p:outputLabel>
                            </div>
                            <h:panelGrid columns="3" cellpadding="10" style="margin: 0 auto">
                                <h:outputLabel value="Korisničko ime:"></h:outputLabel>
                                <p:inputText label="korisnicko ime" id="logIme" value="#{loginKontroler.korisnickoIme}" required="true">
                                    <f:validateLength maximum="60" />
                                    <p:clientValidator event="change"/>
                                </p:inputText>
                                <p:message for="logIme" />
                                <h:outputLabel value="Lozinka: "></h:outputLabel>
                                <p:password label="lozinka" id="logPass" value="#{loginKontroler.lozinka}" required="true">
                                    <f:validateLength minimum="8" maximum="16" />
                                    <p:clientValidator event="change"/>
                                </p:password>
                                <p:message for="logPass" />
                                <p:commandButton value="Login" ajax="false" action="#{loginKontroler.login()}" validateClient="true"></p:commandButton>
                            </h:panelGrid>
                        </h:form>
                    </p:tab>
                    <p:tab title="Registruj se">
                        <h:form enctype="multipart/form-data">
                            <div style="text-align: center">
                                <p:outputLabel value="#{registerKontroler.poruka1}" style="color: red; font-size: 1.5em;">
                                    <p:autoUpdate/>
                                </p:outputLabel>
                            </div>
                            <h:panelGrid id="bla" columns="3" cellpadding="10" style="margin: 0 auto">
                                <h:outputLabel value="Korisničko ime:"></h:outputLabel>
                                <p:inputText label="korisnicko ime" id="korIme" value="#{registerKontroler.korisnickoIme}" required="true">
                                    <f:validateLength maximum="60" />
                                    <p:clientValidator event="change"/>
                                </p:inputText>
                                <p:message for="korIme" />
                                <h:outputLabel value="Lozinka:"></h:outputLabel>
                                <p:password label="lozinka" id="loz" value="#{registerKontroler.lozinka}" match="potvrd" feedback="true" required="true">
                                    <f:validateLength minimum="8" maximum="16" />
                                    <f:validateRegex pattern="^(?=.*[a-z].*[a-z].*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*\W)[a-zA-Z0-9][a-zA-Z0-9\S]{7,15}$" />
                                    <p:clientValidator event="change"/>
                                </p:password>
                                <p:message for="loz" />
                                <h:outputLabel value="Potvrda lozinke:"></h:outputLabel>
                                <p:password label="potvrda lozinke" id="potvrd" value="#{registerKontroler.lozinka}" required="true">
                                    <f:validateLength minimum="8" maximum="16" />
                                    <p:clientValidator event="change"/>
                                </p:password>
                                <p:message for="potvrd" />
                                <h:outputLabel value="Email:"></h:outputLabel>
                                <p:inputText label="email" id="email" value="#{registerKontroler.email}" required="true">
                                    <f:validateLength maximum="60"/>
                                    <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                                    <p:clientValidator event="change"/>
                                </p:inputText>
                                <p:message for="email" />
                                <h:outputLabel value="Zanimanje:"></h:outputLabel>
                                <p:inputText label="zanimanje" id="zanimanje" value="#{registerKontroler.zanimanje}" required="true">
                                    <f:validateLength maximum="60" />
                                    <p:clientValidator event="change"/>
                                </p:inputText>
                                <p:message for="zanimanje"/>
                                <h:outputLabel value="Ime:"></h:outputLabel>
                                <p:inputText label="ime" id="ime" value="#{registerKontroler.ime}" required="true">
                                    <f:validateLength maximum="60" />
                                    <p:clientValidator event="change"/>
                                </p:inputText>
                                <p:message for="ime" />
                                <h:outputLabel value="Prezime:"></h:outputLabel>
                                <p:inputText label="prezime" id="prez" value="#{registerKontroler.prezime}" required="true">
                                    <f:validateLength maximum="60" />
                                    <p:clientValidator event="change"/>
                                </p:inputText>
                                <p:message for="prez" />
                                <h:outputLabel value="Pol:"></h:outputLabel>
                                <p:selectOneRadio label="pol" id="pol" value="#{registerKontroler.pol}" required="true">
                                    <p:clientValidator event="change"/>
                                    <f:selectItem itemLabel="M" itemValue="M" />
                                    <f:selectItem itemLabel="Ž" itemValue="Ž" />
                                </p:selectOneRadio>
                                <p:message for="pol" />
                                <h:outputLabel value="Datum rođenja:"></h:outputLabel>
                                <p:calendar label="datum rodjenja" id="datum" value="#{registerKontroler.datum}" required="true">
                                    <p:clientValidator event="change"/>
                                </p:calendar>
                                <p:message for="datum" />
                                <h:outputLabel value="Dodaj profiilnu:"></h:outputLabel>
                                <p:fileUpload label="profilna" id="slika" value="#{registerKontroler.fajl}" fileUploadListener="#{registerKontroler.upload}" 
                                              required="true" mode="simple" skinSimple="true" requiredMessage="Choose a photo"/>
                                <p:message for="slika" />
                                <p:commandButton value="Registruj se" update="bla" ajax="false" action="#{registerKontroler.register()}" validateClient="true"></p:commandButton>
                            </h:panelGrid>
                        </h:form>
                    </p:tab>
                    <p:tab title="Promeni lozinku">
                        <h:form>
                            <div style="text-align: center">
                                <p:outputLabel value="#{registerKontroler.poruka2}" style="color: red; font-size: 1.5em;">
                                    <p:autoUpdate/>
                                </p:outputLabel>
                            </div>
                            <h:panelGrid columns="3" cellpadding="10" style="margin: 0 auto">
                                <p:outputLabel value="Korisničko ime:"></p:outputLabel>
                                <p:inputText label="korisnickoIme" id="korIme2" value="#{registerKontroler.korisnickoIme}" required="true">
                                    <f:validateLength maximum="60" />
                                    <p:clientValidator event="change"/>
                                </p:inputText>
                                <p:message for="korIme2" />
                                <p:outputLabel value="Trenutna lozinka: "></p:outputLabel>
                                <p:password label="lozinka" id="loz2" value="#{registerKontroler.lozinka}" required="true">
                                    <f:validateLength minimum="8" maximum="16" />
                                    <p:clientValidator event="change"/>
                                </p:password>
                                <p:message for="loz2" />
                                <p:outputLabel value="Nova lozinka:"></p:outputLabel>
                                <p:password label="novaLozinka" id="novLoz" value="#{registerKontroler.novaLozinka}" required="true" feedback="true" match="novLoz2">
                                    <f:validateLength minimum="8" maximum="16" />
                                    <f:validateRegex pattern="^(?=.*[a-z].*[a-z].*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*\W)[a-zA-Z0-9][a-zA-Z0-9\S]{7,15}$" />
                                    <p:clientValidator event="change"/>
                                </p:password>
                                <p:message for="novLoz" />
                                <p:outputLabel value="Potvrda nove lozinke:"></p:outputLabel>
                                <p:password label="potvrdaLozinke" id="novLoz2" value="#{registerKontroler.potvrdaLozinke}" required="true">
                                    <f:validateLength minimum="8" maximum="16" />
                                    <p:clientValidator event="change"/>
                                </p:password>
                                <p:message for="novLoz2" />
                                <p:commandButton value="Promeni lozinku" ajax="false" action="#{registerKontroler.promeniLozinku()}" validateClient="true"></p:commandButton>
                            </h:panelGrid>
                        </h:form>
                    </p:tab>
                </p:tabView>
            </ui:define>

        </ui:composition>

    </body>
</html>
