<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>
        <ui:composition template="./mojTemplate.xhtml">
            <ui:define name="content">
                <h:form>
                    <f:event type="preRenderView" listener="#{mainKontroler.checkAlreadyLoggedinGame}" />
                    <f:event type="preRenderView" listener="#{skockoKontroler.init}" />
                    <p:poll interval="1" listener="#{skockoKontroler.proveravaj()}" autoStart="true" update=" poen1, poen2, tabela1, tabela2, buttonX, buttonY" immediate="true" process="@this"/>
                    <p:poll interval="1" listener="#{skockoKontroler.promenaVremena()}" autoStart="true" update="poen1, poen2, vreme, b1, b2, b3, b4, b5, b6, buttonX, buttonY, tabela1, tabela2" immediate="true" process="@this"></p:poll>
                    <div style="text-align: center;display: block; float: none">
                        <p:outputLabel value="-Skočko-" style="font-size: 2em;"></p:outputLabel>
                        <br/>
                        <p:outputLabel value="preostalo vreme: #{skockoKontroler.vreme}" id="vreme" style="font-size: 1.5em;"></p:outputLabel>
                    </div>
                    <p:separator />
                    <div style="text-align: center; width: 50%; float: left;">
                        <p:dataTable id="tabela1" var="komb" value="#{skockoKontroler.listaKombinacija}" rowStyleClass="belo">
                            <p:column>
                                <p:graphicImage url="#{komb.slika1}"></p:graphicImage>
                            </p:column>
                            <p:column>
                                <p:graphicImage url="#{komb.slika2}"></p:graphicImage>
                            </p:column>
                            <p:column>
                                <p:graphicImage url="#{komb.slika3}"></p:graphicImage>
                            </p:column>
                            <p:column>
                                <p:graphicImage url="#{komb.slika4}"></p:graphicImage>
                            </p:column>
                        </p:dataTable>
                    </div>
                    <div style="text-align: center; width: 50%; float: left;">
                        <p:dataTable id="tabela2" var="komb" value="#{skockoKontroler.listaRezultata}" rowStyleClass="belo">
                            <p:column>
                                <p:graphicImage url="#{komb.slika1}"></p:graphicImage>
                            </p:column>
                            <p:column>
                                <p:graphicImage url="#{komb.slika2}"></p:graphicImage>
                            </p:column>
                            <p:column>
                                <p:graphicImage url="#{komb.slika3}"></p:graphicImage>
                            </p:column>
                            <p:column>
                                <p:graphicImage url="#{komb.slika4}"></p:graphicImage>
                            </p:column>
                        </p:dataTable>

                    </div>
                    <p:separator style="clear: both"/>
                    <div style="text-align: center;display: block; clear: both">
                        <p:outputLabel id="poen1" value="Poeni 1: #{skockoKontroler.poeni1}" style="font-size: 1.5em;"/>
                        <br/>
                        <p:outputLabel id="poen2" value="Poeni 2: #{skockoKontroler.poeni2}" style="font-size: 1.5em;"/>
                        <p:separator/>
                        <p:commandLink id="b1" value="" action="#{skockoKontroler.sledeciSimbol(0)}" disabled="#{skockoKontroler.uslov or skockoKontroler.gotovaIgra}" update="b1, b2, b3, b4, b5, b6, buttonX, buttonY, tabela1, tabela2" >
                            <p:graphicImage url="/resources/images/skocko.png"></p:graphicImage>
                        </p:commandLink>
                        <p:commandLink id="b2" value="" action="#{skockoKontroler.sledeciSimbol(1)}" disabled="#{skockoKontroler.uslov or skockoKontroler.gotovaIgra}" update="b1, b2, b3, b4, b5, b6, buttonX, buttonY, tabela1, tabela2" >
                            <p:graphicImage url="/resources/images/zvezda.png"></p:graphicImage>
                        </p:commandLink>
                        <p:commandLink id="b3" value="" action="#{skockoKontroler.sledeciSimbol(2)}" disabled="#{skockoKontroler.uslov or skockoKontroler.gotovaIgra}" update="b1, b2, b3, b4, b5, b6, buttonX, buttonY, tabela1, tabela2" >
                            <p:graphicImage url="/resources/images/tref.png"></p:graphicImage>
                        </p:commandLink>
                        <p:commandLink id="b4" value="" action="#{skockoKontroler.sledeciSimbol(3)}" disabled="#{skockoKontroler.uslov or skockoKontroler.gotovaIgra}" update="b1, b2, b3, b4, b5, b6, buttonX, buttonY, tabela1, tabela2" >
                            <p:graphicImage url="/resources/images/karo.png"></p:graphicImage>
                        </p:commandLink>
                        <p:commandLink id="b5" value="" action="#{skockoKontroler.sledeciSimbol(4)}" disabled="#{skockoKontroler.uslov or skockoKontroler.gotovaIgra}" update="b1, b2, b3, b4, b5, b6, buttonX, buttonY, tabela1, tabela2" >
                            <p:graphicImage url="/resources/images/srce.png"></p:graphicImage>
                        </p:commandLink>
                        <p:commandLink id="b6" value="" action="#{skockoKontroler.sledeciSimbol(5)}" disabled="#{skockoKontroler.uslov or skockoKontroler.gotovaIgra}" update="b1, b2, b3, b4, b5, b6, buttonX, buttonY, tabela1, tabela2" >
                            <p:graphicImage url="/resources/images/pik.png"></p:graphicImage>
                        </p:commandLink>
                        <br/>
                        <p:commandButton id="buttonY" value="Obrisi simbol" action="#{skockoKontroler.obrisiSimbol()}" disabled="#{skockoKontroler.uslov or skockoKontroler.gotovaIgra}" update="b1, b2, b3, b4, b5, b6, buttonX, buttonY, tabela1, tabela2" style="width: 20%; font-size: 1.3em"></p:commandButton>
                        <p:commandButton id="buttonX" value="Predaj kombinaciju" action="#{skockoKontroler.predajKombinaciju()}" disabled="#{(not skockoKontroler.uslov) or skockoKontroler.gotovaIgra}" update="b1, b2, b3, b4, b5, b6, buttonX, buttonY, tabela1, tabela2" style="width: 20%; font-size: 1.3em" rendered="false"></p:commandButton>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>