<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>
        <ui:composition template="./mojTemplate.xhtml">
            <ui:define name="content">
                <h:form>
                    <f:event type="preRenderView" listener="#{mainKontroler.checkAlreadyLoggedinGame}" />
                    <f:event type="preRenderView" listener="#{slagalicaKontroler.init}" />
                    <p:poll interval="1" listener="#{slagalicaKontroler.proveravaj()}" autoStart="true" update="slagalica, poen1, poen2, button, button1" immediate="true" process="@this"/>
                    <p:poll interval="1" listener="#{slagalicaKontroler.promenaVremena()}" autoStart="true" update="vreme" immediate="true" process="@this"/>
                    <div style="text-align: center;display: block; float: none">
                        <p:outputLabel value="-Slagalica-" style="font-size: 2em;"></p:outputLabel>
                        <br/>
                        <p:outputLabel value="preostalo vreme: #{slagalicaKontroler.vreme}" id="vreme" style="font-size: 1.5em;"></p:outputLabel>
                        <p:separator />
                        <p:panelGrid columns="6" style="margin:1em auto; text-align: center; height: 20em; width: 70%" id="slagalica">
                            <p:outputLabel value="#{slagalicaKontroler.slovo0}" style="font-size: 8em; text-align: center; "/>
                            <p:outputLabel value="#{slagalicaKontroler.slovo1}" style="font-size: 8em; text-align: center; "/>
                            <p:outputLabel value="#{slagalicaKontroler.slovo2}" style="font-size: 8em; text-align: center; "/>
                            <p:outputLabel value="#{slagalicaKontroler.slovo3}" style="font-size: 8em; text-align: center; "/>
                            <p:outputLabel value="#{slagalicaKontroler.slovo4}" style="font-size: 8em; text-align: center; "/>
                            <p:outputLabel value="#{slagalicaKontroler.slovo5}" style="font-size: 8em; text-align: center; "/>
                            <p:outputLabel value="#{slagalicaKontroler.slovo6}" style="font-size: 8em; text-align: center; "/>
                            <p:outputLabel value="#{slagalicaKontroler.slovo7}" style="font-size: 8em; text-align: center; "/>
                            <p:outputLabel value="#{slagalicaKontroler.slovo8}" style="font-size: 8em; text-align: center; "/>
                            <p:outputLabel value="#{slagalicaKontroler.slovo9}" style="font-size: 8em; text-align: center; "/>
                            <p:outputLabel value="#{slagalicaKontroler.slovo10}" style="font-size: 8em; text-align: center; "/>
                            <p:outputLabel value="#{slagalicaKontroler.slovo11}" style="font-size: 8em; text-align: center; "/>
                        </p:panelGrid>
                        <p:separator />
                        <div style="text-align: center;display: block; clear: both">
                            <p:inputText id="rec" value="#{slagalicaKontroler.konacnaRec}" style="width: 50%;" disabled="#{(not slagalicaKontroler.uslov)or slagalicaKontroler.gotovaIgra}">
                                <f:validateRegex pattern="^[a-zA-ZšđčćžŠĐČĆŽ]{1,12}$"></f:validateRegex>
                                <p:clientValidator event="change"/>
                            </p:inputText>
                            <br/>
                            <p:outputLabel id="poen1" value="Poeni 1. igraca: #{slagalicaKontroler.poeni1}" style="font-size: 1.5em;"/>
                            <br/>
                            <p:outputLabel id="poen2" value="Poeni 2. igraca: #{slagalicaKontroler.poeni2}" style="font-size: 1.5em;"/>
                        </div>
                        <p:separator />
                        <p:commandButton id="button1" value="Iduće slovo" update="slagalica, rec, button, button1" 
                                         action="#{slagalicaKontroler.sledeceSlovo()}" disabled="#{slagalicaKontroler.uslov or slagalicaKontroler.gotovaIgra}" style="width: 20%; font-size: 1.3em"></p:commandButton>
                        <p:commandButton id="button" value="Predaj reč" action="#{slagalicaKontroler.predajRec()}" update="slagalica, rec, button, button1"
                                         disabled="#{(not slagalicaKontroler.uslov) or slagalicaKontroler.gotovaIgra}" style="width: 20%; font-size: 1.3em" validateClient="true"></p:commandButton>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
