<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>
        <ui:composition template="./mojTemplate.xhtml">
            <ui:define name="content">
                <h:form>
                    <f:event type="preRenderView" listener="#{mainKontroler.checkAlreadyLoggedinGame}" /> 
                    <div  style="text-align: center;">
                        <p:outputLabel value="CEKANJE........." style="font-size: 2em"></p:outputLabel>
                    </div>
                    <p:separator />
                    <div style="text-align: center;  clear: both;">
                        <p:poll interval="1" listener="#{gameKontroler.provera()}" autoStart="true"/>
                        <p:commandButton value="izađi iz čekanja" disabled="#{not gameKontroler.cekaj}" action="#{ gameKontroler.izadjiIzSobe()}"></p:commandButton>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
