<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="./mojTemplate.xhtml">
            <ui:define name="content">
                <p:tabView>
                    <p:tab title="Slagalica">
                        <h:form>
                            <f:event type="preRenderView" listener="#{mainKontroler.checkAlreadyLoggedinSuperVizor}" />
                            <div style="text-align: center">
                                <p:outputLabel value="#{supervizorKontroler.poruka}" style="font-size: 1.5em; color: red;">
                                    <p:autoUpdate/>
                                </p:outputLabel>
                            </div>
                            <h:panelGrid id="bla" columns="3" cellpadding="10" style="margin: 0 auto">
                                <p:outputLabel value="Reč:"></p:outputLabel>
                                <p:inputText label="rec" id="rec" value="#{supervizorKontroler.rec}">
                                    <f:validateLength maximum="12"/>
                                    <p:clientValidator event="change"/>
                                </p:inputText>
                                <p:message for="rec"/>
                                <p:commandButton value="Dodaj reč" action="#{supervizorKontroler.dodajRec()}"></p:commandButton>
                            </h:panelGrid>
                        </h:form>
                    </p:tab>
                    <p:tab title="Spojnice">
                        <h:form>
                            <div style="text-align: center">
                                <p:outputLabel value="#{supervizorKontroler.poruka2}" style="font-size: 1.5em; color: red;">
                                    <p:autoUpdate/>
                                </p:outputLabel>
                            </div>
                            <p:dataTable id="tabela" var="spojnica" value="#{supervizorKontroler.listaSpojnica}" style="margin: 0 auto;width: 70%">
                                <p:column headerText="spojnica 1">
                                    <p:inputText value="#{spojnica.spoj1}" style="width: 95%" required="true">
                                        <p:clientValidator event="change"/>
                                    </p:inputText>
                                </p:column>
                                <p:column headerText="spojnica 2">
                                    <p:inputText value="#{spojnica.spoj2}" style="width: 95%;" required="true">
                                        <p:clientValidator event="change"/>
                                    </p:inputText>
                                </p:column>
                            </p:dataTable>
                            <div style="text-align: center">
                                <p:commandButton value="Dodaj spojnicu" action="#{supervizorKontroler.dodajSpojnicu()}" validateClient="true"></p:commandButton>
                            </div>
                        </h:form>
                    </p:tab>
                    <p:tab title="Asocijacije">
                        <h:form>
                            <div style="text-align: center">
                                <p:outputLabel value="#{supervizorKontroler.poruka3}" style="font-size: 1.5em; color: red;">
                                    <p:autoUpdate/>
                                </p:outputLabel>
                            </div>
                            <p:dataTable id="tabela" var="kolona" value="#{supervizorKontroler.listaKolona}" style="margin: 0 auto;width: 70%">
                                <p:column headerText="kolona A">
                                    <p:inputText value="#{kolona.polje1}" style="width: 95%" required="true">
                                        <p:clientValidator event="change"/>
                                    </p:inputText>
                                </p:column>
                                <p:column headerText="kolona B">
                                    <p:inputText value="#{kolona.polje2}" style="width: 95%" required="true">
                                        <p:clientValidator event="change"/>
                                    </p:inputText>
                                </p:column>
                                <p:column headerText="kolona C">
                                    <p:inputText value="#{kolona.polje3}" style="width: 95%" required="true">
                                        <p:clientValidator event="change"/>
                                    </p:inputText>
                                </p:column>
                                <p:column headerText="kolona D">
                                    <p:inputText value="#{kolona.polje4}" style="width: 95%" required="true">
                                        <p:clientValidator event="change"/>
                                    </p:inputText>
                                </p:column>
                            </p:dataTable>
                            <h:panelGrid id="bla" columns="2" cellpadding="10" style="margin: 0 auto">
                                <p:outputLabel value="Konačno rešenje:"></p:outputLabel>
                                <p:inputText value="#{supervizorKontroler.konacnoResenje}" style="width: 30em" required="true">
                                    <p:clientValidator event="change"/>
                                </p:inputText>
                                <p:outputLabel value="Sinonimi:"></p:outputLabel>
                                <p:inputText value="#{supervizorKontroler.sinonimi}" style="width: 30em"></p:inputText>
                            </h:panelGrid>
                            <div style="text-align: center">
                                <p:commandButton value="Dodaj asocijaciju" action="#{supervizorKontroler.dodajAsocijaciju()}" validateClient="true"></p:commandButton>
                            </div>
                        </h:form>
                    </p:tab>
                </p:tabView>
            </ui:define>
        </ui:composition>
    </body>
</html>
