<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./mojTemplate.xhtml">

            <ui:define name="content">
                <p:tabView>
                    <p:tab title="Top lista prethodnih 7 dana">
                        <h:form>
                            <p:dataTable var="korisnik" value="#{topListaKontroler.listaKorisnika7Dana}">
                                <p:column style="width:16px">
                                    <p:rowToggler />
                                </p:column>
                                <p:column headerText="Redni broj">
                                    <p:outputLabel value="#{korisnik.redniBr}"></p:outputLabel>
                                </p:column>
                                <p:column headerText="Korisničko ime">
                                    <p:outputLabel value="#{korisnik.korIme}"></p:outputLabel>
                                </p:column>
                                <p:column headerText="Poeni">
                                    <p:outputLabel value="#{korisnik.poeni}"></p:outputLabel>
                                </p:column>
                                <p:rowExpansion>
                                    <p:panelGrid  columns="2" columnClasses="label,value" style="width:300px; margin:1em auto; text-align: center;">
                                        <f:facet name="header">
                                            <p:graphicImage value="#{adminKontroler.slika}" width="50%">
                                                <f:param name="ID" value="#{korisnik.id}"></f:param>
                                            </p:graphicImage>
                                        </f:facet>
                                        <h:outputText value="Ime" />
                                        <h:outputText value="#{korisnik.korisnik.ime}" />
                                        <h:outputText value="Prezime" />
                                        <h:outputText value="#{korisnik.korisnik.prezime}" />
                                        <h:outputText value="Pol" />
                                        <h:outputText value="#{korisnik.korisnik.pol}" />
                                        <h:outputText value="Zanimanje" />
                                        <h:outputText value="#{korisnik.korisnik.zanimanje}" />
                                        <h:outputText value="Datum rođenja" />
                                        <h:outputText value="#{korisnik.korisnik.datum}" />
                                        <h:outputText value="Email" />
                                        <h:outputText value="#{korisnik.korisnik.email}" />
                                    </p:panelGrid>
                                </p:rowExpansion>
                            </p:dataTable>
                        </h:form>
                    </p:tab>
                    <p:tab title="Top lista ovog meseca">
                        <h:form>
                            <p:dataTable var="korisnik" value="#{topListaKontroler.listaKorisnikMesecDana}">
                                <p:column style="width:16px">
                                    <p:rowToggler />
                                </p:column>
                                <p:column headerText="Redni broj">
                                    <p:outputLabel value="#{korisnik.redniBr}"></p:outputLabel>
                                </p:column>
                                <p:column headerText="Korisničko ime">
                                    <p:outputLabel value="#{korisnik.korIme}"></p:outputLabel>
                                </p:column>
                                <p:column headerText="Poeni">
                                    <p:outputLabel value="#{korisnik.poeni}"></p:outputLabel>
                                </p:column>
                                <p:rowExpansion>
                                    <p:panelGrid  columns="2" columnClasses="label,value" style="width:300px; margin:1em auto; text-align: center;">
                                        <f:facet name="header">
                                            <p:graphicImage value="#{adminKontroler.slika}" width="50%">
                                                <f:param name="ID" value="#{korisnik.id}"></f:param>
                                            </p:graphicImage>
                                        </f:facet>
                                        <h:outputText value="Ime" />
                                        <h:outputText value="#{korisnik.korisnik.ime}" />
                                        <h:outputText value="Prezime" />
                                        <h:outputText value="#{korisnik.korisnik.prezime}" />
                                        <h:outputText value="Pol" />
                                        <h:outputText value="#{korisnik.korisnik.pol}" />
                                        <h:outputText value="Zanimanje" />
                                        <h:outputText value="#{korisnik.korisnik.zanimanje}" />
                                        <h:outputText value="Datum rođenja" />
                                        <h:outputText value="#{korisnik.korisnik.datum}" />
                                        <h:outputText value="Email" />
                                        <h:outputText value="#{korisnik.korisnik.email}" />
                                    </p:panelGrid>
                                </p:rowExpansion>
                            </p:dataTable>
                        </h:form>
                    </p:tab>
                </p:tabView>
            </ui:define>
        </ui:composition>

    </body>
</html>
